
/* Reset criado no Passo 3 */

* {
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
    font-weight: 300;
    box-sizing: border-box;
    font-family: 'Source Serif pro', serif;
}

a {
    text-decoration: none;
    color: black;
}

img {
    max-width: 100%;
}